.images {
  border-radius: 0.75em;
  display: grid;
  gap: 0.5rem;
  max-height: 85vh;
  max-width: 95%;
  overflow-y: auto;
}

@media (min-width: 600px) {
  .images {
    grid-template-columns: repeat(3, 1fr);
  }
}
