.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.progress::-webkit-progress-value {
  transition: width 1s;
}

.progress:not([hidden]) {
  margin-top: 1rem;
}

.progress[hidden] {
  display: block;
  max-height: 0;
  transition: max-height 0.25s ease-out;
}
